/* Quick hack; my local Sass is currently not in sync with my live site */

img[title="Firefox"],
img[title="Firefox Nightly"],
img[title="Chrome"],
img[title="Chrome Canary"],
img[title="Safari"],
img[title="Opera"],
img[title="plug-in"],
img[title="JavaScript library"],
img[title="Node.js"]
  position: static !important
  margin: 0
  vertical-align: -.1em
