@charset "utf-8"

$OpenSans: 'Open Sans', sans-serif
$textColor: #333
$strongColor: orangered

/* works but is it a good approach? */
@mixin over($width)
  @media screen and (min-width: $width)
    @content

*
  -moz-box-sizing: border-box
  box-sizing: border-box

  
html 
  font-family: $OpenSans
  font-size: 16px
  color: $textColor
  background-color: white
  line-height: 1.4
  cursor: default

body 
  padding-bottom: 400px
  min-height: 1200px

article 
  position: relative
  width: 880px
  max-width: 100%
  min-height: 2000px
  margin: 1em auto
  padding: 0 1em
  @include over(960px)
    border: 2px solid #ddd
    padding: 2em 2em 0
    margin: 2em auto

// TODO: Remove as soon as you replace the banner this week
.mozilla-banner
  font-weight: normal
  display: block
  background-color: rgba(0,119,255,.1)
  overflow: hidden
  padding: 0.2em
  &:hover
    background-color: rgba(0,119,255,.15)
    border-radius: 0
    & img
      opacity: .6
  p
    margin: 0.5em
    font-size: 18px
    @include over(700px)
      font-size: 22px
    @include over(800px)
      font-size: 22px
  img
    display: none
    @include over(800px)
      display: block
    float: left
    margin: 0.7em 1em 0 1em
    opacity: .4
    height: 60px

.banner
  padding: .6em .8em
  height: auto
  overflow: auto
  background-color: rgba(0, 119, 255, 0.1)
  @include over(960px)
    display: flex
    height: 5.3em
  p
    margin: 0 0 1em
    @include over(960px)
      margin: 0 1em 0 0
      flex: 1 1 auto
  strong
    color: inherit

.subscription-form
  @include over(960px)
    flex: 0 0 280px
    text-align: center
  table
    margin-bottom: .5em
    @include over(960px)
      width: 100%
  select
    font-size: 90%
    @include over(350px)
      font-size: 100%
      width: 100%

.quotes
  display: none
  text-align: center
  margin-top: 1.5em
  @include over(960px)
    display: block
  li
    display: inline-block
    border-radius: 2em
    overflow: hidden
    margin: 0 .3em
  img
    display: block
    width: 4em
    height: 4em
    -webkit-filter: grayscale(100%)
    filter: url(desaturate.svg#greyscale)
    opacity: .5
    &:hover
      -webkit-filter: none
      filter: none
      opacity: 1
    &:hover + div
      display: block

.quote
  display: none
  position: absolute
  top: 2em
  left: 2em
  right: 2em
  height: 5.3em
  background-color: #eee
  p
    margin: 0
    padding: .9em 1.2em 0
    text-align: left
  q
    font-size: 1.2em
    font-style: italic
    quotes: "“" "”" "‘" "’"
    &::before
      content: open-quote
    &::after
      content: close-quote
  .quote-signature::before
    content: " — "

h1 
  font-size: 40px
  @include over(620px)
    font-size: 38px
  @include over(700px)
    font-size: 42px
  @include over(800px)
    font-size: 50px
  font-weight: 300
  text-align: center
  margin-top: .8em
  @include over(620px)
    margin-top: .6em
  @include over(700px)
    margin-top: .4em

.menu-bar
  margin: 2em 0
  padding: 6px 0
  border: solid #e5e5e5
  border-width: 1px 0
  text-align: center
  a
    font-weight: normal

.twitter-share-button 
  vertical-align: top

.main-tabs
  display: none
  overflow: auto
  text-align: center
  height: 3.5em
  > li
    display: inline-block
    position: relative
    background-color: gray
    color: white
    padding: 0 1.5em
    line-height: 2.5em
    text-align: center
    &.active
      background-color: #07c
      color: white
      &::before
        border-top-color: #07c
    &:not(.active):hover
      cursor: pointer
      &::before
        border-top-color: gray
    &::before
      position: absolute
      bottom: -1em
      left: 50%
      margin-left: -1em
      content: ' '
      width: 0
      height: 0
      border: 1em solid transparent
      border-bottom: none

.main-content
  > li
    display: none

.markdown-data
  > section:nth-child(n+6)
    display: none
    @include over(600px)
      display: block


/* General styles */

p 
  margin: 1.5em 0
  a
    font-weight: inherit

em 
  background-color: rgb(255,242,204)
  border-radius: 5px
  padding: 0 1px

strong 
  color: $strongColor
  font-weight: 700
  font-style: inherit

label 
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none

a 
  font-weight: bold
  color: #07c
  text-decoration: none
  padding: 0 1px
  &:focus
    outline: 2px solid $strongColor
  &:hover
    background-color: rgba(0,119,204,0.1)
    border-radius: 5px
  &.twitter-link 
    font-weight: inherit

code
  font-family: Consolas, monospace

/* The page data */

.markdown-data
  li
    position: relative
    margin: 0.4em 0
    margin-left: 1.2em
    list-style: circle outside
  .multi-level
    position: relative
    margin-bottom: 2em
    > li
      list-style: none
      margin-top: 1em
      margin-left: 0
  img
    vertical-align: baseline
    width: 1em
    height: 1em

h2 
  margin-top: 2em
  font-size: 20px
  font-weight: 700
  .edit-button
    float: right
    margin-top: 4px
    font-size: 16px
    font-weight: normal
    color: gray
    &:hover
      color: #07c
      background-color: inherit
      text-decoration: underline

.list-label 
  color: $strongColor
  font-style: italic
  @include over(1080px)
    position: absolute
    top: -0.5em
    left: -7em
    right: 0
    font-size: 15px
    border-top: 1px dashed #bbb
